In [1]:
import pandas as pd

In [2]:
training_data = pd.read_pickle('Dataframe_for_faults.pkl')
testing_data = pd.read_pickle('Testing_Dataframe_for_faults.pkl')

In [3]:
training_data.tail()

,Var1,Var2,Var3,Var4,Var5,Var6,Var7,Var8,Var9,Var10,...,Var44,Var45,Var46,Var47,Var48,Var49,Var50,Var51,Var52,Fault Type
474,0.170,0.564103,0.587719,0.441624,0.666667,0.400000,0.404255,0.694118,0.0,0.227348,...,0.166106,0.222892,0.560390,0.400426,0.454148,0.664596,0.575079,0.416104,0.155361,21
475,0.232,0.564103,0.578947,0.439086,0.583333,0.571429,0.404255,0.735294,0.0,0.255354,...,0.227098,0.222892,0.550621,0.433440,0.366812,0.447205,0.575079,0.409105,0.091904,21
476,0.230,0.615385,0.587719,0.464467,0.541667,0.514286,0.404255,0.705882,0.0,0.255354,...,0.229098,0.222892,0.540852,0.432375,0.441048,0.347826,0.577074,0.412105,0.140044,21
477,0.243,0.589744,0.543860,0.464467,0.666667,0.400000,0.404255,0.700000,0.0,0.250412,...,0.236097,0.222892,0.550621,0.432375,0.672489,0.478261,0.575079,0.412105,0.166302,21
478,0.240,0.538462,0.552632,0.451777,0.541667,0.457143,0.404255,0.688235,0.0,0.257002,...,0.239097,0.222892,0.545737,0.427050,0.576419,0.621118,0.573084,0.407106,0.118162,21

In [4]:
testing_data['Fault Type'].value_counts()

5     959
20    959
12    959
3     959
10    959
8     959
9     959
18    959
16    959
19    959
13    959
2     959
21    959
4     959
7     959
15    959
1     959
6     959
17    959
14    959
11    959
Name: Fault Type, dtype: int64

In [5]:
from sklearn.decomposition import PCA

In [40]:
pca = PCA(n_components=52)

In [41]:
from sklearn.model_selection import train_test_split

In [42]:
X = training_data.drop('Fault Type',axis=1)
y = training_data['Fault Type']

In [43]:
pca.fit(X)

PCA(n_components=52)

In [44]:
scaled_x = pca.transform(X)

In [45]:
from sklearn.ensemble import RandomForestClassifier

In [46]:
rf = RandomForestClassifier(n_estimators=600)

In [47]:
rf.fit(scaled_x,y)

RandomForestClassifier(n_estimators=600)

In [48]:
X_test = testing_data.drop('Fault Type', axis=1)
y_test = testing_data['Fault Type']

In [49]:
pca.fit(X_test)

PCA(n_components=52)

In [50]:
scaled_test = pca.transform(X_test)

In [51]:
predictions = rf.predict(scaled_test)

In [52]:
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score

In [53]:
print(classification_report(y_test,predictions))

              precision    recall  f1-score   support

           1       0.92      0.81      0.86       959
          10       0.26      0.43      0.33       959
          11       0.08      0.03      0.04       959
          12       0.14      0.35      0.20       959
          13       0.27      0.10      0.15       959
          14       0.28      0.32      0.30       959
          15       0.08      0.05      0.06       959
          16       0.13      0.16      0.14       959
          17       0.31      0.40      0.35       959
          18       0.03      0.02      0.02       959
          19       0.26      0.32      0.29       959
           2       0.99      0.80      0.88       959
          20       0.04      0.07      0.05       959
          21       0.05      0.03      0.04       959
           3       0.09      0.04      0.05       959
           4       0.18      0.18      0.18       959
           5       0.06      0.06      0.06       959
           6       0.56      0.76      0.64       959
           7       0.11      0.08      0.09       959
           8       0.32      0.28      0.30       959
           9       0.10      0.09      0.10       959

    accuracy                           0.26     20139
   macro avg       0.25      0.26      0.24     20139
weighted avg       0.25      0.26      0.24     20139

In [54]:
print(accuracy_score(y_test,predictions))

0.25562341725011173

In [55]:
confusion_matrix(y_test,predictions)

array([[772,   9,   2,  14,   7,   3,   6,  22,  10,   4,  15,   0,  21,
          3,   9,  22,  10,   0,  10,  10,  10],
       [  0, 413,   5,  95,   5,  14,  16,  54,  14,  43,  39,   0,  75,
         19,  13,  31,  58,   0,  25,   1,  39],
       [  0,  74,  24, 101,   1, 105,  36,  73,  44,  25,  72,   2,  96,
         43,  26,  82,  49,   0,  26,   4,  76],
       [  6,  46,   5, 339,  36,   9,  13,  23,  25,  22,  17,   0,  60,
          3,   8,  13,  33,   0,  97, 188,  16],
       [  9,  20,   5, 303,  98,  13,  18,  22, 102,  19,  19,   1,  35,
          7,  10,  33,   9,   0,  96, 121,  19],
       [  0,  78,  46,  51,   3, 308,  20,  59,  58,  21,  41,   0,  78,
         21,   8,  34,  53,   0,  33,   1,  46],
       [  0,  98,  22, 115,   1,  26,  47,  86,  33,  32,  74,   1, 130,
         38,  35,  78,  49,   0,  21,   7,  66],
       [  0,  78,  39, 122,   2,  31,  39, 157,  31,  24,  70,   0, 117,
         24,  25,  50,  45,   0,  41,   1,  63],
       [  0,  56,   7,  85,   2,  19,  34,  62, 385,  17,  34,   0,  55,
         32,  17,  48,  38,   0,  20,  16,  32],
       [  9,  24,   9,  45,   0,   9,  13,  24,  10,  15,  24,   0,  28,
         15,  15,  18,  17, 567,  30,  73,  14],
       [  0,  72,  22,  57,   0,  15,  30,  47,  42,  27, 310,   2, 113,
         31,  21,  53,  43,   0,  30,   3,  41],
       [  0,  27,   6,  14,   0,   2,   3,  15,  17,   6,  10, 766,  30,
          8,   4,  17,   9,   0,   7,   2,  16],
       [  0,  58,  54,  89,   1, 116,  34, 152,  23,  24,  63,   1,  68,
         41,  16,  35,  77,   0,  33,  40,  34],
       [  0,  76,  10,  56,   0,  17,  54,  78, 213,  54,  51,   0,  89,
         30,  32,  46,  86,   0,  18,  17,  32],
       [  0,  97,  19,  69,   2,  20,  46,  89,  44,  34,  85,   0, 133,
         57,  35,  60,  57,   0,  39,   0,  73],
       [  0,  82,   6,  96,   6,  17,  39,  56,  46,  26,  80,   0, 134,
         62,  26, 169,  41,   0,  30,   3,  40],
       [  0,  75,  12, 173,  11,  14,  31,  66,  69,  15,  73,   0, 116,
         53,  33,  58,  53,   0,  32,  18,  57],
       [  5,  20,   2,  22,  27,   5,  12,   7,  26,   6,   9,   0,  27,
         11,   2,  10,   4, 726,   9,  15,  14],
       [  1,  24,   0, 219,  85, 314,  14,  17,   9,   3,  20,   0,  24,
         11,  10,  16,  35,   0,  79,  58,  20],
       [ 35,  33,   8, 295,  70,  14,  12,  29,  18,  14,  15,   0,  44,
         13,  11,  19,  26,   0,  25, 270,   8],
       [  0, 111,  13,  79,   5,  15,  63,  82,  43,  42,  61,   2, 119,
         47,  29,  70,  59,   0,  35,   0,  84]], dtype=int64)